{% extends "admin/_base.html" %}
{% block header-content %}
    <h1>Admin Dashboard</h1>
    <p>Manage users, tests, requests, revenue, and more from a single interface.</p>
{% endblock header-content %}
{% block body-content %}
<h3>Manage Users</h3>
<div class="overflow-auto">
    <div class="table-responsive">
        <table class="table table-striped" style="min-width: 120rem;">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Street Address</th>
                    <th>Phone Number</th>
                    <th>City</th>
                    <th>Company</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.userprofile.first_name|default:"Not set" }}</td>
                    <td>{{ user.userprofile.last_name|default:"Not set" }}</td>
                    <td>{{ user.userprofile.street_address|default:"Not set" }}</td>
                    <td>{{ user.userprofile.phone_number|default:"Not set" }}</td>
                    <td>{{ user.userprofile.city|default:"Not set" }}</td>
                    <td>{{ user.userprofile.company|default:"Not set" }}</td>
                    <td>
                        <a href="{% url 'edit_user' user.id %}" class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteUserModal" data-id="{{ user.id }}">
                            <i class="fas fa-trash-alt"></i> Delete
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body-content %}
